<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <title><%= config.title %> </title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="<%= config.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400normal;subset=all" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/favicon-<%= config.company %>.ico">
    <script src="head.js?<%= +new Date() %>"></script>
    <script type="text/javascript">
        if ('-ms-user-select' in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
            document.getElementsByTagName('head')[0].appendChild(msViewportStyle);
        }
    </script>
    
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<!--     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <link href="vendor.css?<%= +new Date() %>" rel="stylesheet" media="screen">
    <link href="app.css?<%= +new Date() %>" rel="stylesheet" media="screen">

</head>

<body>
    <!--[if lte IE 8]>
        <div class="old-browser"><h4>Your browser is too old</h4><p><a href="http://browsehappy.com">Upgrade now</a></p></div>
    <![endif]-->
    
    <script>window.environment = '<%= environment %>'</script>
    <script src="vendor.js?<%= +new Date() %>"></script>
<!--     <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="app.js?<%= +new Date() %>"></script>
</body>
</html>
