<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <title>SBEX - Swiss Bitcoin Exchange</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="Buy and sell Bitcoin with EUR, CHF and USD" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-assets-proof" data="/btc-assets.json">
    <meta name="x-liabilities-proof-root" data="/api/v1/proof/root/btc">
    <meta name="x-liabilities-proof" data="/api/v1/proof/liability/btc">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="head.js?<%= +new Date() %>"></script>
    <script type="text/javascript">
        if ('-ms-user-select' in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
            document.getElementsByTagName('head')[0].appendChild(msViewportStyle);
        }
    </script>
    
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href="vendor.css?<%= +new Date() %>" rel="stylesheet" media="screen">
    <link href="app.css?<%= +new Date() %>" rel="stylesheet" media="screen">
</head>

<body class="is-loading">
    <!--[if lte IE 8]>
        <div class="old-browser"><h4>Your browser is too old</h4><p><a href="http://browsehappy.com">Upgrade now</a></p></div>
    <![endif]-->

    <script src="vendor.js?<%= +new Date() %>"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="app.js?<%= +new Date() %>"></script>
</body>
</html>
