<td>Account #<%= account_id %></td>
<td><%= security_id %></td>
<td><%= available %></td>
<td>
    <a href="#my/transfer" class="btn">To user</a>
    <a href="#my/deposit/<%= security_id %>" class="btn">Deposit</a>
    <a href="#my/withdraw/<%= security_id %>" class="btn">Withdraw</a>
    <a href="#my/rippleout/<%= security_id %>" class="btn">To Ripple</a>
    <a href="https://ripple.com//send?to=<%= rippleAddress %>&dt=<%= userId %>" target="_blank" class="btn">From Ripple</a>
</td>
