<td><a href="#books/<%= pair.replace('/', '_') %>"><%= pair %></a></td>
<td><% if (bid) { %>
    <%= bid.priceDecimal %> (<%= bid.volumeDecimal %>)
    <% } %>
</td>
<td><% if (ask) { %>
    <%= ask.priceDecimal %> (<%= ask.volumeDecimal %>)
    <% } %>
</td>
<td><%= lastDecimal %></td>
<td><%= highDecimal %></td>
<td><%= lowDecimal %></td>
<td><%= volumeDecimal %></td>
