<div class="row">
    <ul class="side nav nav-tabs">
        <li class="bid <%= side === 'bid' ? 'active' : '' %>"><a href="#">Buy <%= base_currency %></a></li>
        <li class="ask <%= side === 'ask' ? 'active' : '' %>"><a href="#">Sell <%= base_currency %></a></li>
    </ul>
</div>

<div class="row">
    <form class="span5">
        <div class="row well">
            <div class="volume span2">
                <label>Amount to <%= side ? 'sell' : 'buy' %></label>
                <div class="input-append">
                    <input class="input input-small" type="text" value="<%= volume %>" />
                    <span class="add-on"><%= base_currency %></span>
                </div>
            </div>
            <div class="price span2">
                <label>Price per</label>
                <div class="input-append">
                    <input class="input input-small" type="text" value="<%= price %>" />
                    <span class="add-on"><%= quote_currency %></span>
                </div>
            </div>
            <div class="total offset2 span2">
                <div class="input-append">
                    <label>Order total</label>
                    <input class="input input-small disabled" disabled="disabled" type="text" value="" />
                    <span class="add-on"><%= quote_currency %></span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <p class="summary"></p>
</div>

<div class="row">
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="submit btn btn-success">Place order</button>
        </div>
    </div>
</div>
