<td><a href="#markets/<%= id %>"><%= id %></a></td>
<td><%= bid || '' %></td>
<td><%= ask || '' %></td>
<td><%= last || '' %></td>
<td><%= high || '' %></td>
<td><%= low || '' %></td>
<td><%= volume || '' %></td>
