<td>
    #<%= order_id %>
</td>
<td>
    <%= pair %>
</td>
<td>
    <%= side == 0 ? 'Buy' : 'Sell' %> <%= base %>
</td>
<td>
    <%= priceDecimal %>
</td>
<td>
    <%= originalDecimal %>
</td>
<td>
    <%= volumeDecimal %>
</td>
<td>
    <button class="btn" data-action="cancel-order">Cancel</button>
</td>
