<td>
    #<%= id %>
</td>
<td>
    <%= pair %>
</td>
<td>
    <%= side == 0 ? 'Buy' : 'Sell' %> <%= base %>
</td>
<td>
    <%= price %>
</td>
<td>
    <%= original %>
</td>
<td>
    <%= volume %>
</td>
<td>
    <button class="btn" data-action="cancel-order">Cancel</button>
</td>
