<td>
    #<%= id %>
</td>
<td>
    <%= market %>
</td>
<td>
    <%= side == 'bid' ? 'Buy' : 'Sell' %> <%= base %>
</td>
<td>
    <%= price %> <%= quote %>
</td>
<td>
    <%= original %> <%= base %>
</td>
<td>
    <%= volume %> <%= base %>
</td>
<td>
    <button class="btn" data-action="cancel-order">Cancel</button>
</td>
